h1.f2.f-subheadline-l.fw2.white-90.mb0.lh-title {
    margin-top: 100px;
    position: relative;
    top: 80px;
}

.custom-header {
    background: url('/images/me.png') no-repeat center center;
    height: 400px;  /* Adjust height as needed */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;  /* Text color over the image */
    font-size: 2.5rem;
    font-weight: bold;
}

/* Ensure the header has a relative position so the absolute positioning works */
header {
    position: relative;
  }
  
  .top-image-container {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 2;  /* Makes sure the top-image stays on top */
    display: block;
    margin-top: 80px;
  }
  
  .top-image img {
    width: 100%;
    height: auto;
    /* Adjust the size of the image as necessary */
    max-width: 300px;  /* Optional: Adjust to your desired size */
    margin: 0 auto;
    display: block;
    border-radius: 10px; /* Optional: For rounded corners */

  }
  
  header.featured-image {
    position: relative;
    z-index: 1;  /* Ensures the background image is underneath the top-image */
  }

.uf-logo img{
    position: relative;  /* Removes it from the document flow */
    margin-right: 500px;
    width: 100%;  /* Makes the image cover the width of the container */
    max-width: 100px;
    margin-bottom: -150px;
  }

h2{
    margin-bottom: -60px;
}
.bordered-text {
    border: 2px solid #333;  /* Dark gray solid border */
    padding: 10px;            /* Add space inside the border */
    margin: 10px;           /* Space outside the border */
    border-radius: 8px;       /* Optional: rounded corners */
    background-color: #f9f9f9; /* Optional: background color inside the box */
    padding-left: 150px;              /* Padding on the left */
    padding-right: 400px; 
    white-space: nowrap;
  }

  .hpc-logo img{
    position: relative;  /* Removes it from the document flow */
    margin-right: 500px;
    width: 100%;  /* Makes the image cover the width of the container */
    max-width: 100px;
    margin-bottom: -120px;
  }

  .center-image {
    display: block;
    margin: 0 auto;
    text-align: center;
}